html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, main, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
}

body {
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2b2b2b;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

header {
    height: 50px;
    background: #000000;
    color: #bbbbbb;
    border-bottom: 10px solid #f6f6f6;
}

header a {
    color: #bbbbbb;
    text-decoration: none;
}

header .content {
    height: 50px;
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    position: relative;
    top: 11px;
}

header nav ul {
    position: absolute;
    top: 0px;
    right: 0;
    overflow: hidden;
}

header nav li {
    float: left;
    padding: 0;
    xbackground: red;
}

header nav li:last-child {
    padding-right: 0;
}

header nav li a {
    line-height: 50px;
    padding: 17px 10px;
    vertical-align: middle;
}

header nav li a:hover {
    color: #ffffff;
}

footer {
    border-top: 10px solid #f6f6f6;
    color: #8c8989;
    background: #363839;
    height: 166px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .content > ul {
    overflow: hidden;
}

footer .content > ul > li {
    display: block;
    float: left;
    width: 350px;
}

footer .content > ul > li.flair {
    width: 260px;
    text-align: right;
    padding-top: 10px;
}

footer h1 {
    font-weight: bold;
    color: #ffffff;
}

footer a {
    color: #8c8989;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul.legal {
    background: #282a2b;
    border-top: 1px solid #4b4c4d;
    color: #8c8989;
    font-size: 12px;
    text-shadow: 1px 2px 1px #000;
    text-align: center;
}

main {
    xmin-height: 100%;
    height: auto !important;
    xheight: 100%;
    margin: 0 auto 20px;
    xmargin: 0 auto -246px;
    max-width: 960px;
}

main h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

main h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

main a {
    color: #000000;
}
